<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725894337571-cf9p448dh3qal62qe3g1hfjcimng0j9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725894337571-cf9p448dh3qal62qe3g1hfjcimng0j9t</string>
	<key>API_KEY</key>
	<string>AIzaSyD3r_D0nI983YM_Iz0WOQn6ZBA-BNs2Pn0</string>
	<key>GCM_SENDER_ID</key>
	<string>725894337571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Alphonso-Sensley-II.Chelsea---Alphonso</string>
	<key>PROJECT_ID</key>
	<string>alphonso-chelsea</string>
	<key>STORAGE_BUCKET</key>
	<string>alphonso-chelsea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725894337571:ios:620bcb98c5f48694</string>
	<key>DATABASE_URL</key>
	<string>https://alphonso-chelsea.firebaseio.com</string>
</dict>
</plist>